.heroImage{
  position: absolute;
  text-align: center;
   background-image: url(https://images.contentful.com/ey04yid3tpau/4UiH6TGfTGIGAUKgaS8ywY/3523e556b6b069ae3544a4d826c4a773/_23_0105.jpg);
}

.heroImage img {
  position:center;
  z-index: 1;
  width: auto;
  height: auto;
}

.heroImage h1 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: 300;
  position:absolute;
  top:30px;
  color: 4A4A4A;
  z-index: 2;
  left: 0;
  width: 100%;
}

.heroImage p {
  position:absolute;
  top:90px;
  color: #4A4A4A;
  z-index: 2;
  left: 0;
  width: 100%
}

ul {
  margin: 0;
  padding: 0;
}