 html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.text-center{
  text-align: center;
}

.fullscreen-container {
  height:100%;
}

.fullscreen {
  height:100%;
  width:100%;
  object-fit: cover;
}

div.location {
  font-family: Avenir;
  position:absolute;
  color: #4A4A4A;
  z-index: 2;
  bottom: 0;
  width: 100%;
  font-size: 18px;
  background: #fff;
}

.heroImage h1 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: 300;
  position:absolute;
  top:30%;
  color: #4A4A4A;
  z-index: 2;
  left: 0;
  width: 100%;
  padding: 30px auto;
  font-size: 54px;
}

.heroImage p {
  font-family: Avenir;
  position:absolute;
  top:40%;
  color: #4A4A4A;
  z-index: 2;
  left: 0;
  width: 100%;
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
}

.albumsSection {
  font-size: 0;
  width: 90%;
  margin: 0 auto;
}

.albumTile {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

.albumTile:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .albumTile {
    width: calc(25% - 6px);
  }
  
  .albumTile:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  .albumTile:nth-of-type(4n) {
    margin-right: 0;
  }
}

.albumTile:hover img {
  transform: scale(1.03);
}

figure {
  margin: 10px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

figure img {
  
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .7s ease-in-out;
  
  left: 50%;
  top: 50%;
}

figure p {
font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: 200;
  position:absolute;
  color: white;
  z-index: 2;
  left: 0;
  width: 100%;
  top:50%;
}

figure h3 {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-weight: 200;
  position:absolute;
  color: white;
  z-index: 2;
  left: 0;
  width: 100%;
  top:40%;
}

.printPhotos {
  text-align: center;
}